@import url("https://fonts.googleapis.com/css2?family=Press+Start+2P&display=swap");

* {
  color: white;
  font-family: "Press Start 2P", cursive;
}

#root {
  background-color: #3498db;
}

input[type="text"] {
  background-color: transparent;
  border: white solid 4px;
}

input[type="text"]:focus {
  outline: none;
}

.form-heading {
  padding: 0 12.5%;
}

.form-group {
  width: 75%;
  border: white solid 8px;
}

.general-button {
  background-color: white;
  color: #3498db;
  border: none;
  border: white solid 8px;
  text-decoration: none;
}

.general-button:hover {
  background-color: #3498db;
  color: white;
  border: white solid 8px;
  text-decoration: none;
}

.submit-button {
  width: 75%;
}

.back-button {
  width: 50%;
}

.qr-code {
  width: 50%;
}

.inner-button {
  color: inherit;
  background: none;
  border: none;
}