<!DOCTYPE html>
<html lang="en">
  {% load static %}
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>vCard Maker</title>

    <link
      rel="stylesheet"
      href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.1/dist/css/bootstrap.min.css"
    />
    <link rel="stylesheet" href="{% static 'css/styles.css' %}" />
    <script
      src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.11.6/dist/umd/popper.min.js"
      integrity="sha384-oBqDVmMz9ATKxIep9tiCxS/Z9fNfEXiDAYTujMAeBAsjFuCZSmKbSSUnQlmh/jp3"
      crossorigin="anonymous"
      defer
    ></script>
    <script
      src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.1/dist/js/bootstrap.min.js"
      integrity="sha384-7VPbUDkoPSGFnVtYi0QogXtr74QeVeeIs99Qfg5YCF+TidwNdjvaKZX19NZ/e6oz"
      crossorigin="anonymous"
      defer
    ></script>
  </head>
  <body>
    <div class="container text-center root">
      <h1>vCard QR Code Generator</h1>

      <form action="qr" method="POST">
        {% csrf_token %}

        <div class="row container">
          <div class="col">
            <label for="first_name">First Name*</label><br />
            <input
              type="text"
              id="first_name"
              name="first_name"
              autocomplete="off"
              required
            />
          </div>

          <div class="col">
            <label for="middle_name">Middle Name(s)</label><br />
            <input
              type="text"
              id="middle_name"
              name="middle_name"
              autocomplete="off"
            />
          </div>

          <div class="col">
            <label for="last_name">Last Name*</label><br />
            <input
              type="text"
              id="last_name"
              name="last_name"
              autocomplete="off"
              required
            />
          </div>
        </div>

        <div class="row container">
          <div class="col">
            <label for="email">Email</label><br />
            <input type="text" id="email" name="email" autocomplete="off" />
          </div>

          <div class="col">
            <label for="phone">Phone</label><br />
            <input type="text" id="phone" name="phone" autocomplete="off" />
          </div>
        </div>

        <div class="row container">
          <label for="company">Company</label><br />
          <input
            type="text"
            id="company"
            name="company"
            autocomplete="off"
          /><br />

          <label for="position">Position</label><br />
          <input
            type="text"
            id="position"
            name="position"
            autocomplete="off"
          /><br />
        </div>

        <div class="row container">
          <label for="street">Street</label><br />
          <input
            type="text"
            id="street"
            name="street"
            autocomplete="off"
          /><br />

          <label for="city">City</label><br />
          <input type="text" id="city" name="city" autocomplete="off" /><br />

          <label for="region">Region</label><br />
          <input
            type="text"
            id="region"
            name="region"
            autocomplete="off"
          /><br />

          <label for="postal_code">Postal Code</label><br />
          <input
            type="text"
            id="postal_code"
            name="postal_code"
            autocomplete="off"
          /><br />

          <label for="country">Country</label><br />
          <input
            type="text"
            id="country"
            name="country"
            autocomplete="off"
          /><br />
        </div>

        <div class="row container">
          <label for="website">Website</label><br />
          <input
            type="text"
            id="website"
            name="website"
            autocomplete="off"
          /><br />
        </div>

        <input type="submit" class="submit" />
      </form>
    </div>
  </body>
</html>
