{% load static %}

<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>vCard Maker</title>

    <link
      rel="stylesheet"
      href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.1/dist/css/bootstrap.min.css"
    />

    <link rel="stylesheet" type="text/css" href="{% static 'css/main.css' %}" />
  </head>
  <body id="root">
    <div class="container">
      <h1 class="title text-center my-5">vCard QR Generator</h1>

      <form action="qr" method="POST" class="my-4">
        {% csrf_token %}

        <h2 class="form-heading mt-4">Name</h2>
        <div class="container form-group">
          <div class="row m-3">
            <label for="first_name" class="col">First Name*</label>
            <input
              type="text"
              id="first_name"
              name="first_name"
              autocomplete="off"
              class="col-8"
              required
            />
          </div>

          <div class="row m-3">
            <label for="middle_name" class="col">Middle Name(s)</label>
            <input
              type="text"
              id="middle_name"
              name="middle_name"
              class="col-8"
              autocomplete="off"
            />
          </div>

          <div class="row m-3">
            <label for="last_name" class="col">Last Name*</label>
            <input
              type="text"
              id="last_name"
              name="last_name"
              autocomplete="off"
              class="col-8"
              required
            />
          </div>
        </div>

        <h2 class="form-heading mt-4">Contact</h2>
        <div class="container form-group">
          <div class="row m-3">
            <label for="email" class="col">Email</label>
            <input
              type="text"
              id="email"
              name="email"
              class="col-8"
              autocomplete="off"
            />
          </div>

          <div class="row m-3">
            <label for="phone" class="col">Phone</label>
            <input
              type="text"
              id="phone"
              name="phone"
              class="col-8"
              autocomplete="off"
            />
          </div>

          <div class="row m-3">
            <label for="website" class="col">Website</label>
            <input
              type="text"
              id="website"
              name="website"
              class="col-8"
              autocomplete="off"
            />
          </div>
        </div>

        <h2 class="form-heading mt-4">Company</h2>
        <div class="container form-group">
          <div class="row m-3">
            <label for="company" class="col">Company</label>
            <input
              type="text"
              id="company"
              name="company"
              class="col-8"
              autocomplete="off"
            />
          </div>

          <div class="row m-3">
            <label for="position" class="col">Position</label>
            <input
              type="text"
              id="position"
              name="position"
              class="col-8"
              autocomplete="off"
            />
          </div>
        </div>

        <h2 class="form-heading mt-4">Address</h2>
        <div class="container form-group">
          <div class="row m-3">
            <label for="street" class="col">Street</label>
            <input
              type="text"
              id="street"
              name="street"
              class="col-8"
              autocomplete="off"
            />
          </div>

          <div class="row m-3">
            <label for="city" class="col">City</label>
            <input
              type="text"
              id="city"
              name="city"
              class="col-8"
              autocomplete="off"
            />
          </div>

          <div class="row m-3">
            <label for="region" class="col">Region</label>
            <input
              type="text"
              id="region"
              name="region"
              class="col-8"
              autocomplete="off"
            />
          </div>

          <div class="row m-3">
            <label for="postal_code" class="col">Postal Code</label>
            <input
              type="text"
              id="postal_code"
              name="postal_code"
              class="col-8"
              autocomplete="off"
            />
          </div>

          <div class="row m-3">
            <label for="country" class="col">Country</label>
            <input
              type="text"
              id="country"
              name="country"
              class="col-8"
              autocomplete="off"
            />
          </div>
        </div>

        <button type="submit" class="row mx-auto mt-4 submit-button h2 py-4 justify-content-center">CREATE MY QR CODE</button>
      </form>
    </div>

    <script
      src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.11.6/dist/umd/popper.min.js"
      integrity="sha384-oBqDVmMz9ATKxIep9tiCxS/Z9fNfEXiDAYTujMAeBAsjFuCZSmKbSSUnQlmh/jp3"
      crossorigin="anonymous"
    ></script>
    <script
      src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.1/dist/js/bootstrap.min.js"
      integrity="sha384-7VPbUDkoPSGFnVtYi0QogXtr74QeVeeIs99Qfg5YCF+TidwNdjvaKZX19NZ/e6oz"
      crossorigin="anonymous"
    ></script>
  </body>
</html>
